<div class="background">
  <div class="container white">
    <h1 class="mx-auto pt-5 text-center center px-auto font_large">404</h1>
    <p class="mx-auto text-center px-auto center"><%= errorMessage%></p>
    <p></p>
  </div>
</div>
